{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Registrar{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container justify-content-center">
    <h1>
        <h3 class="logo">Registrar</h3>
    </h1>
</div>

<div class="container col-md-6 offset-md-3 justify-content-center principal was-validated">
    <form method="post" class="form-group">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <input type="text" name="username" id="username" placeholder="Usuário" minlength="7"
               class="form-control" autocomplete="off" required>
        <input type="tel" placeholder="CPF" id="cpf" name="cpf" maxlength="14"
               OnKeyPress="return BlockLetters(formatar('###.###.###-##', this))" class="form-control"
               autocomplete="off" required>
        <input type="password" name="password" id="password" placeholder="Senha" class="form-control"
               autocomplete="off" required>
        <div class="invalid-feedback">
            Preencher informações de todos os campos !
        </div>
        <br>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation" required>
            <label class="custom-control-label" for="customControlValidation">Termos de Uso</label>
            <div class="invalid-feedback">Termos tem que ser aceito</div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-block" value="Registrar">
        </div>
    </form>
</div>
{% endblock %}
<footer>
</footer>