{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Registrar{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
<div class="container col-md-6 justify-content-center">
    <form method="post">
        <label for="username">Usuário</label>
        <div class="col-sm-10">
            <input type="text" name="username" id="username" class="form-control" placeholder="Usuário"
                   autocomplete="off">
        </div>
        <br>
        <label for="password">Senha</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha" autocomplete="off">
            <small id="passwordHelpInline" class="text-muted">
                Deve ter entre 8 e 20 caracteres.
            </small>
        </div>
        <br>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary" value="Registrar">
        </div>
    </form>

</div>
{% endblock %}