{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Paulo Henrique{% endblock %}</h1>
{% endblock %}
{% block content %}
<article class="container col-md-3 justify-content-center">
    <header>
        <br>
        <div class="container-fluid">
            <h3></h3>
            <h3 class=""></h3>
        </div>
    </header>
    <main>
        <h3 class="container-fluid">
            <p></p>
            <p></p>
        </h3>
        <h3>

        </h3>
    </main>
</article>

<footer>
    <div class="container col-md-6 offset-md-3 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <a href="https://dolarhoje.com/" class="dolar-hoje-button" data-currency="dolar"
                   title="Dólar">Dólar</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js"></script>
            </div>
            <div class="col">
                <a href="https://dolarhoje.com/euro-hoje/" class="dolar-hoje-button" data-currency="euro"
                   title="Euro">Euro</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js" charset="utf-8"></script>
            </div>
            <div class="col">
                <a href="https://dolarhoje.com/ouro-hoje/" class="dolar-hoje-button" data-currency="ouro"
                   title="Ouro">Ouro</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</footer>
{% endblock %}