{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Paulo Henrique{% endblock %}</h1>
{% endblock %}
{% block content %}
<article class="container col-md-3 justify-content-center">
    <header>
        <br>
        <div class="container-fluid">
            <h3></h3>
            <h3 class=""></h3>
        </div>
    </header>
    <main>
        <h3 class="container-fluid">
            <p></p>
            <p></p>
        </h3>
        <h3>

        </h3>
    </main>
</article>

{% endblock %}
<footer>

</footer>