.idea/
.venv*/
venv*/
__pycache__*/
.__pycache__*/
instance*/
.instance*/
.DS_Store*
._.DS_Store*
app/.DS_Store*
app/._.DS_Store*
app/._static*
app/static/.DS_Store*
app/static/._.DS_Store*
app/static/._css*
app/static/._img*
app/static/._js*
app/static/css/._style.css*
app/static/img/._logo.svg*
app/static/img/._ph.png*
app/templates/.DS_Store*
app/templates/._.DS_Store*
app/templates/._projetos.html*
app/templates/._sobre.html*
