.idea/
.venv/
venv/
__pycache__/
instance/
.env
.DS_Store
app/.DS_Store
app/static/.DS_Store
app/static/css/style.css
app/static/img/logo.svg
app/static/img/ph.png
app/templates/projetos.html
app/templates/sobre.html
