{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}HOME{% endblock %}</h1>
{% endblock %}
{% block content %}
<br>
<article class="container col-md-4 justify-content-center">
    <main>
        {% for post in posts %}
        <article class="container-fluid">
            <header>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post['title'] }}</h5>
                        <p class="card-text">{{ post['body'] }}</p>
                        <p class="card-text small">por {{ post['username'] }} em {{ post['created'].strftime('%d/%m/%Y')
                            }}</p>
                    </div>
                </div>
            </header>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        <br>
        <article class="container-fluid alert alert-success">
            <p>Localização: {{user_location}}</p>
            {% if weather_data %}
            <p>Cidade: {{weather_data.name}}</p>
            <p>Temperatura: {{weather_data.main.temp}}°C</p>
            <p>Condição: {{condicao_meteorologica}}</p>
            {% else %}
            <p>Não foi possível obter a previsão do tempo.</p>
            {% endif %}
        </article>
    </main>
</article>
<footer>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">
                <a href="https://dolarhoje.com/" class="dolar-hoje-button" data-currency="dolar"
                   title="Dólar">Dólar</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js"></script>
            </div>
            <div class="col">
                <a href="https://dolarhoje.com/euro-hoje/" class="dolar-hoje-button" data-currency="euro"
                   title="Euro">Euro</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js" charset="utf-8"></script>
            </div>
            <div class="col">
                <a href="https://dolarhoje.com/ouro-hoje/" class="dolar-hoje-button" data-currency="ouro"
                   title="Ouro">Ouro</a>
                <script async src="//dolarhoje-widgets.s3.amazonaws.com/button.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</footer>
{% endblock %}