{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block header %}
<h1>HOME</h1>
{% endblock %}

{% block content %}
<br>
<article class="container col-md-4 justify-content-center">
    <main>
        {% for post in posts %}
        <article class="container-fluid mb-4">
            <header>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post['title'] }}</h5>
                        <p class="card-text">{{ post['body'] }}</p>
                        <p class="card-text small">por {{ post['username'] }} em {{ post['created'].strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
            </header>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        <br>
        <article class="container-fluid alert alert-info">
            <p>Localização: {{user_location}}</p>
            {% if weather_data %}
            <p>Cidade: {{weather_data.name}}</p>
            <p>Temperatura: {{weather_data.main.temp}}°C</p>
            <p>Condição: {{condicao_meteorologica}}</p>
            {% else %}
            <p>Não foi possível obter a previsão do tempo.</p>
            {% endif %}
        </article>
    </main>
</article>
{% endblock %}

{% block footer %}
<footer>
    <div class="container-fluid justify-content-center">

    </div>
</footer>
{% endblock %}
