{% extends 'base.html' %}

{% block title %}Valores de Moedas{% endblock %}
{% block content %}

<h1 class="text-center">Valores de Moedas</h1>
<p class="text-center text-muted">Confira as taxas de câmbio atualizadas para diferentes moedas.</p>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <ul class="list-group">
                {% set currency_data = [
                {"name": "Real (BRL)", "value": rates.BRL, "badge": "bg-primary"},
                {"name": "Dólar (USD)", "value": rates.USD, "badge": "bg-secondary"},
                {"name": "Euro (EUR)", "value": rates.EUR, "badge": "bg-success"},
                {"name": "Bitcoin (BTC)", "value": rates.BTC, "badge": "bg-danger", "decimals": 8},
                {"name": "Peso Argentino (ARS)", "value": rates.ARS, "badge": "bg-warning"},
                {"name": "Dólar Canadense (CAD)", "value": rates.CAD, "badge": "bg-info"},
                {"name": "Libra Esterlina (GBP)", "value": rates.GBP, "badge": "bg-light text-dark"},
                {"name": "Iene Japonês (JPY)", "value": rates.JPY, "badge": "bg-light text-dark"},
                {"name": "Yuan Chinês (CNY)", "value": rates.CNY, "badge": "bg-secondary"},
                {"name": "Dólar Australiano (AUD)", "value": rates.AUD, "badge": "bg-primary"}
                ] %}
                {% for currency in currency_data %}
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                    <strong>{{ currency.name }}</strong>
                    <span class="badge {{ currency.badge }} rounded-pill">
                        {% if currency.decimals is defined %}
                        {{ currency.value | round(currency.decimals) }}
                        {% else %}
                        {{ currency.value | round(2) }}
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}