{% extends 'base.html' %}
{% block header %}
<h1>{% block title %} Notícias {% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Notícias</h1>
    <ul class="list-group mt-4">
        {% for noticia in noticias %}
        <li class="list-group-item">
            <h2><a href="{{ url_for('exibir_noticia', noticia_tag=noticia.title) }}">{{ noticia.title }}</a></h2>
            <p class="blockquote text-left">{{ noticia.content|truncate(250) }}</p>
            <small class="text-muted">Postado: {{ noticia.published }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
