{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}
{% block content %}
{% block header %}
<div class="text-center py-4">
    <h1 class="display-4">Projetos</h1>
    <p class="lead">Explore alguns vídeos e projetos mais recentes.</p>
</div>
{% endblock %}


<div class="container mt-5">
    <header class="mb-5">
        <h2 class="text-center mb-4">Vídeos</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/z3VQGXBTzic?si=4t-Un0PNE9ycz-X3"
                                title="Viking Battle Music" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Viking Battle Music</h5>
                        <p class="card-text">A Saga of Warriors | Intense Epic Viking Music for Battle & Honor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/CeOfIXm9eC4?si=cMN4MMUs-Nu2DDpf"
                                title="1 Hora de Meditação Sombria no Subterrâneo" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">1 Hora de Meditação Sombria no Subterrâneo</h5>
                        <p class="card-text">Sons Profundos para Relaxamento e Foco</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/XjY0pRsjv6c?si=46RjqlaRFoc9mMuJ"
                                title="Dark & Powerful Viking Music" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dark & Powerful Viking Music</h5>
                        <p class="card-text">Ancient Vikings Epic & Valhalla Cinematics</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
{% endblock %}
